@model UpdateOrderModel

@{

    ViewData["Title"] = "Create";

    var backAction = $"{Model.OrderType}Orders";
}
<div class="container  border border-2 border-dark">

    <form asp-action="DeleteOrder" asp-controller="Order" method="post" asp-antiforgery="true">
        <br />

        <div class="container p-3">
            <h1>Delete a @Model.OrderType order</h1>
            <hr />
        </div>

        <input asp-for="Id" hidden />

        <div class="row p-4 border ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Order Type Dropdown -->
            <div class="form-group">
                <label asp-for="OrderType" class="control-label">Order Type</label>
                <select asp-for="OrderType"  class="form-select" disabled>
                    <option>@Model.OrderType</option>
                </select>
                <input asp-for="OrderType" value="@Model.OrderType" hidden />
                <span asp-validation-for="OrderType" class="text-danger"></span>
            </div>

            <!-- Product Dropdown -->
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId"  class="form-select" disabled>
                    <option>@Model.Product.Name</option>
                </select>
                <input asp-for="ProductId" hidden />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <!-- Sale Quantity Input -->
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" id="saleQuantity" placeholder="Enter quantity" class="form-control" disabled />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <!-- Unit Price Input -->
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" id="unitPrice" placeholder="Enter unit price" class="form-control" disabled  />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>

            <!-- Total Amount Input (Read-only) -->
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" id="totalAmount" placeholder="Total amount" class="form-control" readonly />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <div class="form-group d-flex justify-content-left mt-3">
                <button type="submit" class="btn btn-danger w-25">Delete</button>
                <a asp-action="@backAction" asp-controller="Order" class="mx-2">Back to list</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
