@model IEnumerable<Order>;

@{
    ViewData["Title"] = "Sale orders";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Sale orders</h1>
        </div>

        <div class="col text-end pt-1">
            <a asp-controller="Order" asp-action="CreateSaleOrder" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Create sale order</a>
        </div>
    </div>

    <table id="dataTable" class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Serial no.</th>
                <th class="text-center">Date</th>
                <th class="text-center">Product name</th>
                <th class="text-center">Total quantity</th>
                <th class="text-center">Total amount</th>
                <th class="text-center">Action</th>

            </tr>
        </thead>

        <tbody>

            @{
                var serialNo = 1;
                foreach (var data in Model)
                {
                    <tr>
                        <td class="text-center">@serialNo</td>
                        <td class="text-center">@data.CreatedDate.ToString("dd MMMM yyyy")</td>
                        <td class="text-center">@data.Product.Name</td>
                        <td class="text-center">@data.TotalQuantity</td>
                        <td class="text-center">@data.TotalAmount</td>
                        <td class="text-center">
                            <a asp-controller="Order" asp-action="UpdateSaleOrder" asp-route-id="@data.Id" class="btn btn-info w-25"><i class="bi bi-pencil-square"></i></a>
                            <a asp-controller="Order" asp-action="DeleteOrder" asp-route-id="@data.Id" class="btn btn-danger w-25"><i class="bi bi-trash"></i> </a>
                        </td>
                    </tr>

                    serialNo++;
                }
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true,
                "columnDefs": [
                    { "width": "10%", "targets": 0 },
                    { "width": "20%", "targets": 5 }
                ]
            });
        });
    </script>
}