@model ReportViewModel

@{
    var reportType = Model.ReportType == "Sale" ? "Sale" : "Purchase";

    var reportTypeAction = Model.ReportType == "Sale" ? "SaleReport" : "PurchaseReport";
    var viewListAction = $"{reportType}Orders";

    ViewData["Title"] = $"Display {reportType} report";

}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@reportType report</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Order" asp-action="@viewListAction" class="btn btn-outline-primary">View @reportType orders</a>
        </div>
    </div>

    <hr />
    
    <form asp-action="@reportTypeAction" asp-controller="Report" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row my-4">
            <div class="row">
                <!-- From field -->
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label class="control-label">From</label>
                        <input asp-for="SearchFrom" type="date" id="searchFrom" placeholder="Select a start date" class="form-control" required />
                        <span asp-validation-for="SearchFrom" class="text-danger"></span>

                    </div>
                </div>

                <!-- To field -->
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label asp-for="SearchTo" class="control-label">To</label>
                        <input asp-for="SearchTo" type="date" id="searchTo" placeholder="Select an end date" class="form-control" required />
                        <span asp-validation-for="SearchTo" class="text-danger"></span>

                    </div>
                </div>

                <!-- Submit Button -->
                <div class="col-md-4 col-12 d-flex align-items-end">
                    <button type="submit" id="generateReportBtn" class="btn btn-primary w-100">Generate</button>
                </div>

            </div>
        </div>

    </form>


    <h3 class="text-white bg-success text-center border border-2 p-4 ">
        @reportType Report
    </h3>

    @if (Model.Reports != null && Model.Reports.Any())
    {
        <table class="table table-bordered border-success border-5">
            <thead>
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center"> Price</th>
                    <th class="text-center">Selling quantity</th>
                    <th class="text-center">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Reports)
                {
                    <tr>
                        <td class="text-center">@order.CreatedDate.ToString("MM/dd/yyyy")</td>
                        <td class="text-center">@order.Product.Name</td>
                        <td class="text-center">@order.UnitPrice.ToString("C")</td>
                        <td class="text-center">@order.TotalQuantity</td>
                        <td class="text-center">@order.TotalAmount.ToString("C")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end"><strong>Total:</strong></td>
                    <td class="text-center"><strong>@Model.Reports.Sum(order => order.TotalAmount).ToString("C")</strong></td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <div class="text-center">No records found for the specified date range.</div>
    }


</div>



